<div id="frontsearch">

  <div id="welcomeblurb">
<h1>Welcome</h1>
<p>To book a room at our hotel search for rooms using the tools below.</p>

  <form class="frontsearchform" (ngSubmit)="onSubmit()" action='/search' method="post">
    <!-- <label for="startdate">Check in date: </label>
    <input [(ngModel)]= "searchItem.startdate" type="date" name="startdate" value="">
    <label for="endDate">  Check out date: </label>
    <input [(ngModel)]= "searchItem.enddate" type="date" name="enddate" value=""> -->
    <mat-form-field>
    <mat-label>Start date</mat-label>
    <input matInput  [(ngModel)]="today" name = "startdate"  [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
  <mat-label>End date</mat-label>
  <input matInput [(ngModel)]="mindate" name="enddate" [matDatepicker]="picker2">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker  #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="selguests">  Guests </mat-label>
    <mat-select [(ngModel)]= "searchItem.maxguests" class="" name="selguests">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>

    </mat-select>
    </mat-form-field>
      <mat-form-field>
    <mat-label for="selpets">  Pets </mat-label>
    <mat-select [(ngModel)]= "searchItem.maxpets" class="" name="selpets">
      <mat-option value="0">0</mat-option>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
    </mat-select>
    </mat-form-field>
      <button (click)="onSubmit()" mat-button>Search</button>

  </form>
  </div>
</div>
