@use 'src/assets/palette' as p

#frontsearch
  margin-left: auto
  margin-right: auto
  position: absolute
  top: 0
  z-index: 1
  height: 100vh
  width: 100%
  background-image: url('../../../assets/img/welcome.jpg')
  background-size: 100%
  background-repeat: no-repeat

.frontsearchform
  max-width: max-content
  background-color: p.$aquamarine
  padding: 10px
  border-radius: 5px
  margin-left: auto
  margin-right: auto

#frontsearchsubmit
  margin-left: 5px


#welcomeblurb
  margin-top: 20%
  padding: 10px
  border-radius: 5px
  text-align: center
  background-color: p.$lightgolenrod
  max-width: max-content
  margin-left: auto
  margin-right: auto
