<div id="frontsearch">

  <div id="welcomeblurb">


  <form class="searchform" (ngSubmit)="onSubmit()" action='/search' method="post">

<div class="">
  <label class = "datelabel" >Start date</label>

  <input type="date"  [(ngModel)]="searchItem.startdate" name = "startdate" class="selectr" >
</div>

<div class="">
  <label class = "datelabel">End date</label>
  <input type="date"  [(ngModel)]="searchItem.enddate" name = "enddate" class="selectr" >
</div>


<div class="">

    <label for="selguests">  Guests </label>
    <select [(ngModel)]= "searchItem.maxguests" class="selectr" name="selguests">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>

    </select>

  </div>

  <div class="">

    <label for="selpets">  Pets </label>
    <select [(ngModel)]= "searchItem.maxpets" class="selectr" name="selpets">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>

  </div>
    <div class="spacer">

    </div>

      <button (click)="onSubmit()" class = "submitter">Search</button>

  </form>
  </div>
</div>
