<div id="frontsearch">

  <div id="welcomeblurb">
<h1>Welcome</h1>
<p>To book a room at our hotel search for rooms using the tools below.</p>

  <form class="searchform" (ngSubmit)="onSubmit()" action='/search' method="post">

    <mat-form-field>
    <mat-label>Start date</mat-label>
    <input matInput  [(ngModel)]="today" name = "startdate"  [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
  <mat-label>End date</mat-label>
  <input matInput [(ngModel)]="mindate" name="enddate" [matDatepicker]="picker2">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker  #picker2></mat-datepicker>
  </mat-form-field>

<div class="">

    <label for="selguests">  Guests </label>
    <select [(ngModel)]= "searchItem.maxguests" class="selectr" name="selguests">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>

    </select>

  </div>

  <div class="">

    <label for="selpets">  Pets </label>
    <select [(ngModel)]= "searchItem.maxpets" class="selectr" name="selpets">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>

  </div>
    <div class="spacer">

    </div>

      <button (click)="onSubmit()" class = "submitter">Search</button>

  </form>
  </div>
</div>
