.heading
  display: inline
  float: right
  margin-top: 0
  padding-top: 0
  //background-color: green
  width: 100vw
  position:  absolute
  top: 0
  z-index: 3
  //margin-right: -6px

  .headerButton,.headerInput
    display: block
    float: right
    margin: 5px


  .loginForm
     display: inline
     float: right

#SignupButton
  //margin-right: 9px
