<div >

  <mat-drawer-container class="searchresults">
  <mat-drawer  mode="side" opened><div class="searchsidebar">
<div class="sidebar">

<form class="searchform" action="index.html" method="post">

      <div>
      <label>Start date</label>
      <input type="date"  [(ngModel)]="searchItem.startdate" name = "startdate" class="selectr">
    </div>
    <div>
    <label>End date </label>
    <input type = "date" [(ngModel)]="searchItem.enddate" name="enddate" class="selectr">
    </div>

  <div class="amenSelect">

      <label for="selguests">  Guests: </label>
      <select [(ngModel)]= "searchItem.maxguests"  class="selectr" name="selguests">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

  </div>

  <div class="amenSelect">

      <label for="selpets">  Pets: </label>
      <select [(ngModel)]= "searchItem.maxpets"  class="selectr" name="selpets">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>

  </div>
      <p>Select any additional requirements:<br></p>

    <mat-checkbox [(ngModel)]= "searchItem.hasmicro"  name="reqmicro" value="">Microwave</mat-checkbox>

    <mat-checkbox [(ngModel)]= "searchItem.hasfridge"  name="reqfridge" value="">Mini-Fridge</mat-checkbox>

<mat-checkbox [(ngModel)]= "searchItem.haskitch"  name="reqkitch" value="">Kitchenette</mat-checkbox>

<mat-checkbox [(ngModel)]= "searchItem.hascouch"  name="reqcouch" value="">Couch</mat-checkbox>

<div class="spacer">

</div>

      <button (click)="onSubmit()" class = "submitter">Search</button>

</form>

  </div>
  </div>
</mat-drawer>
  <mat-drawer-content>  <app-resultscontainer></app-resultscontainer></mat-drawer-content>
</mat-drawer-container>
</div>
