@use 'src/assets/palette' as p

.sidebarSplitter
  display: grid
  grid-template-columns: 1fr 6fr
  grid-column-gap: 5px
  //margin-left: -7px

mat-form-field, mat-checkbox
  display: block



mat-drawer-content
  min-height: 96vh
  background-color: p.$lightplatinum

mat-drawer
  background-color: p.$platinum
  // padding: 8px
  margin-right: 8px

.spacer
  height: 24vh
