@use 'src/assets/palette' as p
.bookingform
  display: grid
  grid-template-columns: 1fr
  margin: 10px
  padding-top: 2em
  grid-row-gap: 2em
  position: fixed
  width: 24.5vw
  max-width: 240px

.bk
  width: 25vw
  max-width: 260px
  position: fixed
  bottom: 15px
  height: 3em
  background-color: p.$accent
  font-size: 170%
  margin-right: auto
  margin-left: auto
  right: 0px
