<div class="bookingform">
  <mat-form-field appearance="fill">
  <mat-label>Start date</mat-label>
  <input matInput  [(ngModel)]="startdate" name = "startdate"  [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
<mat-label>End date</mat-label>
<input matInput [(ngModel)]="enddate" name="enddate" [matDatepicker]="picker2">
<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
<mat-datepicker  #picker2></mat-datepicker>
</mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Notes</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button type="submit" mat-button>Book</button>

</div>
