@use 'src/assets/palette' as p

.cost
  color: p.$spanishgray
  display: inline

.resultitem
  background-color: p.$lightgolenrod

mat-card
  margin: 8px
  max-width: auto
  margin-left: auto
  padding-bottom: 60px

button, h4
  float: right
  margin-right: 10px
