
<mat-card color = "primary" tabindex="0" class="resultitem" *ngFor="let result of results">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{result.roomname}}</mat-card-title>
    <mat-card-subtitle>Available</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content>
    <p>
    {{result.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
        <h4 class = "cost">Cost per night ${{result.cost}}</h4>
    <button mat-raised-button color="primary" (click) = "book(result.roomname)" >Book</button>
  </mat-card-actions>
</mat-card>
