/* You can add global styles to this file, and also import other style files */
@use 'src/assets/palette' as p
@import custom-theme

*
  margin: 0

.selectr
  appearance: none
  padding: 6px 18px
  float: right
  margin: 3%
  margin-right: 0
  border: 0
  margin-top: -1vh
  width: max-content
  font-size: .95em
  background-color: p.$lightplatinum

input
  border: 1px
  border-style: solid
  border-color: p.$spanishgray
  background-color: p.$lightplatinum

label
  margin: -2vh 0

.submitter
  background-color: p.$action
  border-color: none
  border-radius: 0
  color: white
  border-style: none
  margin: -3vh -5vh
  font-size: 120%

.searchform
  // max-width: 31vw
  width: 230px
  background-color: p.$platinum
  border-radius: 0
  border-color: p.$spanishgray
  border-width: thin
  margin-left: auto
  margin-right: auto
  display: grid
  grid-template-columns: 1fr
  grid-row-gap: 2vh
  padding: 5vh
  padding-bottom: 3vh

.red
  color: red
