@use 'src/assets/palette' as p
img
  max-height: 450px
  float: left

p
  display: block

.grid-container
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr 1max-content 1max-content
  grid-template-areas: "pic pic pic inf" "pic pic pic inf" "pic pic pic inf" "desv desv desv desv" "rev rev rev rev"



.pic
  grid-area: pic

.infbox
    padding: 1em
    background-color: p.$platinum
    margin-bottom: 2em

.inf
  grid-area: inf


.desv
  grid-area: desv

.rev
  grid-area: rev

mat-drawer
  height: max-content
  width: 25vw
  max-width: 260px
  background-color: p.$platinum

.mat-drawer-content
  background-color: p.$lightplatinum
  padding: 2em
  padding-top: 2.5em

app-roombookform
  position: fixed
