<div class="roombook">

<mat-drawer-container>
  <mat-drawer-content>
  <div class="grid-container" id = "light">

    <div class="pic">
    <!-- //  <img src={{img1}} alt=""> -->
    </div>

    <div class="inf infbox">
      <h1>{{roomname}}</h1>
      <p>{{roomdesc}} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="desv infbox">

        <div class="Hotel Description">
          <h1>Our Hotel</h1>
          <p> Every night spent in our hotel is an experience you won't want to miss out on. Our warm and welcoming staff are on call 24/7 to make sure that your stay is as pleasant as possible. We know that spending time away from home can be stressful so our aim is to melt that stress away. Whether you want to work out in our on site gym, relax by the pool or in the hot tub or get a nice bite to eat at our in house restaurant, we take pride knowing that we can help. By utilizing the most up to date technologies like HMS we ensure that your stay is as seamless as can be. You can check in, check out, check whats for breakfast and so much more all through your dashboard. Everything you need is at your fingertips.</p>
          <p class = "red">AS OF 9/20/2019 KOMODO DRAGONS ARE NOT ALLOWED IN THE HOTEL.<br>UPDATE: 2/2/2020 FERRETS ARE ALSO NOT ALLOWED IN THE HOTEL.</p>
        </div>
    </div>
    <div class="rev infbox">
      <h1>Reviews</h1>
      <p>There are no reviews for this room yet</p>
    </div>
  </div>
</mat-drawer-content>

<mat-drawer mode="side" position = "end" opened>
<app-roombookform></app-roombookform>

</mat-drawer>

</mat-drawer-container>
</div>
